#landing {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .menu-container {
        color: #fff;
        background-color: #5995DA;  /* Blue */
        padding: 20px 0;
        display: flex;
        justify-content: center;
      }
      
      .menu {
        width: 900px;
        display: flex;
        justify-content: space-between;
        padding: 5px;
      }

      .links {
        display: flex;
        justify-content: flex-end;
      }

      .links a {
        color: #fff;
      }
      
      .login, .promote {
        margin-left: 20px;
      }

      .header-container {
        color: #FFF;
        background-color: #D6E9FE;
        background: url('/images/header.jpg') no-repeat center center fixed;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        min-height: 40vh;
      }

      .header-container:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background-color: rgba(0,0,0, 0.7);
      }
      
      .header {
        width: 900px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
      }

      .state-grid-container {
        display: flex;
        justify-content: center;
      }
      
      .state-grid {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-flow: row wrap;
      }
      
      .state-grid-item {
        border: 1px solid #000;
        width: calc((100% / 3) - 30px);
        align-items: center;
        padding: 30px;
        align-content: center;
        margin: 15px;
        //media queries for stacking cards
        @media screen and (max-width: 991px) {
          width: calc((100% / 2) - 30px);
        }

        @media screen and (max-width: 767px) {
          width: 100%;
        }

        p {
          text-align: center;
        }

      }

}